<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        html, body { height:100%; margin:0; padding:0 }
        div { position:fixed; width:50%; }
        #NW { top:0;   left:0;  height:60%;  background:rgb(249, 249, 250); margin-top:2%; }
        #NE { top:0;   left:50%; height:60%; background:rgb(249, 249, 250)    }
        #SW { top:60%; left:0;  height:40%;  background:#2d383c; border-style: solid;  }
        #SE { top:60%; left:50%;height:40%;  background:#2d383c; border-style: solid;    }
        p {margin:20px; color: #39ace7;}      
    </style>
</head>
<body class="container">

<main>
<div class="row">
    <div id="NW">
        <form style="margin-left: 10%;" method="post" action="/upload">
            <input type="text" size="50" name="img_url">
            <input type="submit" value="upload">
        </form>
        
        <img id="uploadPreview" style="height: 86%; margin-top: 2%; margin-left: 10%;" src="<%=myvar%>" />
        
    </div>
    <div id="NE">
        <img id="outputPreview" style=" height: 100%; margin: auto;" src="<%=output%>" />
    </div>
    <div id="SW">
        <p>    <b> Output Details</b> :</p>
        <p> <%=text1%> </p>
    </div>
    <div id="SE">
        <p>  <b> Output Text</b> :</p>
        <p> <%=text2%> </p>
    </div>

</div>
</main>

</body>
</html>